$mainbackground: rgba(44,44,52,0.6);
$mainborder: rgb(85,73,74);
$background: rgba(80,112,149,0.9);
$background2: rgba(44,44,52,1);
//$popbox: rgb(44,30,66,1);
$border: rgb(210,210,210);
$fontcolor: rgb(195,195,195);
$fontcolor2: rgba(44,44,52,1);
$font: "Terminus";
$rad: 8px;
//rgba(40,35,50,1)
//rgba(104,93,113,25)

* {
  all:unset;
}

tooltip {
  font-family: $font;
  color: $fontcolor;
  border: dotted 1px;
  border-radius: $rad;
  border-color: $border;
  background-color: rgba(47,47,49,1);
}

/*trough {
  all: unset;
  background-color: $fontcolor;
  min-width: 0px;
  min-height: 0px;
  border-radius: 50px;
}*/

//------------Main Top Bar------------//

/*.bar {
  background-color: rgba(0,0,0,0);
  color: $fontcolor;
  padding: 5px;
}*/

.bar {
  background-color: rgba(0,0,0,0);
  //border: solid 1px;
  //border-color: $mainborder;
  //border-radius: 14px;
  //color: $fontcolor;
  //padding: 5px;
}

.powerconf {
  color: $fontcolor;
  background-color: $background2;
  border: solid 1px;
  border-color: $mainborder;
  border-radius: 14px;
  padding-bottom: 18px;
  font-family: $font;
}

.menu {
  font-size: 18px;
  font-family: $font;
  border: dotted 1px;
  border-color: $border;
  border-radius: $rad;
  background-color: $background2;
  padding: 0px 18px 0px 15px;
}

.menu button:hover {
  color: cyan;
}

.menu button:active {
  color: red;
}

.workspace {
  font-size: 16px;
  font-family: $font;
  border: dotted 1px;
  border-color: $border;
  border-radius: $rad;
  background-color: $background2;
  padding: 0px 18px 0px 15px;
}

.wsbutton {
  background-color: $background2;
  padding: 0px 5px 0px 5px;
  margin: 3px 3px 3px 3px;
}

.media {
  border: dotted 1px;
  border-color: $border;
  border-radius: $rad;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2px;
  font-family: $font;
  font-size: 15px;
  background-color: $background2;
  color: lightblue;
}

.metrics {
  border: dotted 1px;
  border-color: $border;
  border-radius: $rad;
  padding: 0px 15px 0px 15px;
  font-family: $font;
  font-size: 15px;
  background-color: $background2;
}

.vol {
  color: yellow;
}

.brightnum {
  color: #ffa348;
}

.volbar trough {
  background-color: $fontcolor;
  min-width: 100px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.volbar scale trough highlight {
  all: unset;
  background-color: yellow;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.volbar trough highlight {
  all: unset;
  background-color: yellow;
  min-height: 7px;
  min-width: 0px;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.bribar trough {
  background-color: $fontcolor;
  min-width: 100px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.bribar scale trough highlight {
  all: unset;
  background-color: #ffa348;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.bribar trough highlight {
  all: unset;
  background-color: #ffa348;
  min-height: 7px;
  min-width: 0px;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.battprcnt {
  padding: 0px 5px 0px 5px;
  color: #62A0EA;
}

.wifi {
  color: #DCA8DD;
  font-family: $font;
  //font-size: 18px;
}

.bluez {
  color: #3584E4;
  font-family: $font;
  //font-size: 18px;
}

.wlanbox {
  padding: 0px 15px 0px 15px;
  border: dotted 1px;
  border-radius: $rad;
  border-color: $border;
  background-color: $background2;
}

.msctrl {
  border: dotted 1px;
  border-color: $border;
  border-radius: $rad;
  padding: 0px 15px 0px 15px;
  font-family: "Phosphor";
  background-color: $background2;
}

.msctrl button:hover {
  color: cyan;
}

.msctrl button:active {
  color: red;
}

.time {
  font-family: $font;
  //font-size: 18px;
  border: dotted 1px;
  border-color: $border;
  border-radius: $rad;
  padding: 0px 15px 0px 15px;
  background-color: $background2;
}

//------------Big Clock on Desktop------------//

.maintime {
  font-family: "Noto Serif Display ExtraBold";
  font-size: 60px;
  color: rgba(44,44,52,1);
}

.maindate {
  font-family: "Rage Italic";
  font-size: 30px;
  color: rgba(44,44,52,1);
}

.bigtimetip {
  font-family: "Terminus (TTF)", "Bold";
  font-size: 20px;
  color: $fontcolor;
}

//------------PC Resources------------//

.usage_ram trough {
  background-color: $fontcolor;
  min-width: 8px;
  min-height: 100px;
  border-radius: $rad;
}

.usage_gpu, .gpu_temp trough {
  background-color: $fontcolor;
  min-width: 8px;
  min-height: 50px;
  border-radius: $rad;
}

.usage_cpu, .cpu_temp trough {
  background-color: $fontcolor;
  min-width: 8px;
  min-height: 50px;
  border-radius: $rad;
}

.usage_cpu scale trough highlight {
  all: unset;
  background-color: $background2;
}

.cpu_temp scale trough highlight {
  all: unset;
  background-color: darkred;
}

.usage_cpu trough highlight {
  all: unset;
  background-color: $background2;
  min-height: 0px;
  min-width: 8px;
  border-radius: $rad;
}

.cpu_temp trough highlight {
  all: unset;
  background-color: darkred;
  min-height: 0px;
  min-width: 8px;
  border-radius: $rad;
}

.usage_ram scale trough highlight {
  all: unset;
  background-color: $background2;
}

.usage_ram trough highlight {
  all: unset;
  background-color: $background2;
  min-height: 0px;
  min-width: 8px;
  border-radius: $rad;
}

.usage_gpu scale trough highlight {
  all: unset;
  background-color: $background2;
}

.gpu_temp scale trough highlight {
  all: unset;
  background-color: darkred;
}

.usage_gpu trough highlight {
  all: unset;
  background-color: $background2;
  min-height: 0px;
  min-width: 8px;
  border-radius: $rad;
}

.gpu_temp trough highlight {
  all: unset;
  background-color: darkred;
  min-height: 0px;
  min-width: 8px;
  border-radius: $rad;
}

/*.usage_gpu, .usage_ram, .usage_cpu {
  font-family: $font;
  font-size: 30px;
  color: $background2;
  background-color: $fontcolor;
}*/

.pcrestext {
  font-size: 20px;
  font-family: "Terminus (TTF)", "Bold";
  color: $fontcolor2;
}

//------------The Dashboard------------//

.boxdash1 {
  background-color: $background2;
  padding: 50px 70px 50px 70px;
  border-radius: $rad;
  border: dotted 1px;
}

.boxdash2 {
  background-color: $background2;
  padding: 30px 20px 40px 20px;
  border-radius: $rad;
  font-family: "Terminus (TTF)", "Bold";
  border: dotted 1px;
}

.boxdash3 {
  background-color: $background2;
  padding: 35px 20px 37px 20px;
  border-radius: $rad;
  border: dotted 1px;
}

.boxdashpower {
  background-color: $background2;
  padding: 10px 0px 3px 0px;
  border-radius: $rad;
  border: dotted 1px;
}

.boxdashvolbribar {
  font-family: "Terminus", "Bold";
  background-color: $background2;
  padding: 15px 15px 15px 15px;
  border-radius: $rad;
  border: dotted 1px;
}

.dashboard1 {
  font-family: "Terminus (TTF)", "Bold";
  font-size: 20px;
  color: $fontcolor;
}

.blurbg {
  background-color: rgba(0,0,0,0.7);
  padding-left: 771px;
  padding-right: 770px;
  padding-top: 335px;
  padding-bottom: 300px;
}

.varbar1 trough {
  background-color: $fontcolor;
  min-width: 100px;
  border-radius: 50px;
}

.varbar1 scale trough highlight {
  all: unset;
  background-color: red;
  border-radius: 50px;
}

.varbar1 trough highlight {
  all: unset;
  background-color: red;
  min-height: 14px;
  min-width: 0px;
  border-radius: 50px;
}

.varbar2 trough {
  background-color: $fontcolor;
  min-width: 100px;
  border-radius: 50px
}

.varbar2 scale trough highlight {
  all: unset;
  background-color: lime;
  border-radius: 50px;
}

.varbar2 trough highlight {
  all: unset;
  background-color: lime;
  min-height: 14px;
  min-width: 0px;
  border-radius: 50px;
}

.varbar3 trough {
  background-color: $fontcolor;
  min-width: 100px;
  border-radius: 50px
}

.varbar3 scale trough highlight {
  all: unset;
  background-color: cyan;
  border-radius: 50px;
}

.varbar3 trough highlight {
  all: unset;
  background-color: cyan;
  min-height: 14px;
  min-width: 0px;
  border-radius: 50px;
}

.volbarvertical trough {
  background-color: $fontcolor;
  min-width: 20px;
  min-height: 100px;
  border-radius: $rad;
}

.volbarvertical scale trough highlight {
  all: unset;
  background-color: yellow;
  //border-radius: 50px;
}

.volbarvertical trough highlight {
  all: unset;
  background-color: yellow;
  min-height: 0px;
  min-width: 20px;
  border-radius: $rad;
}

.bribarvertical trough {
  background-color: $fontcolor;
  min-width: 20px;
  min-height: 100px;
  border-radius: $rad;
}

.bribarvertical scale trough highlight {
  all: unset;
  background-color: #ffa348;
  //border-radius: 50px;
}

.bribarvertical trough highlight {
  all: unset;
  background-color: #ffa348;
  min-height: 0px;
  min-width: 14px;
  border-radius: $rad;
}

.pwrbuttons {
  font-size: 28px;
  font-family: $font;
}

.poff:hover {
  color: red;
}

.rbtt:hover {
  color: cyan;
}

.cncl:hover {
  color: purple;
}

.poff:active {
  color: cyan;
}

.rbtt:active {
  color: red;
}

.cncl:active {
  color: orange;
}
